# Path to the XML file defining the topics
topic-path: $TAC_ROOT/GuidedSumm10_test_topics.xml
aq1-path: /corpora/LDC/LDC02T31
aq2-path: /corpora/LDC/LDC08T25
gw-path: /corpora/LDC/LDC11T07
nice-path: $PATH_FOR_NICE_CORPUS
vector-path: $PATH_TO_PICKLED_VETORS